body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", serif;
  font-size: 18px;
  overflow-x: hidden;
}

* {
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

main {
  width: 100%;
  height: 82vh;
  margin: 0 auto;
  position: relative;
}

.main__presentation {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.main__presentation .presentation__info {
  max-width: 40%;
}
.main__presentation .presentation__info .info__title {
  color: hsl(260, 8%, 14%);
  font-size: 70px;
  margin: 0;
}
.main__presentation .presentation__info p {
  color: hsl(257, 7%, 63%);
}
.main__presentation .presentation__info .info__button {
  font-size: 20px;
  font-weight: 700;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: hsl(180, 66%, 49%);
}
.main__presentation .presentation__info .info__button:hover {
  color: white;
  background-color: hsl(180, 66%, 59%);
  cursor: pointer;
}
.main__presentation .presentation__img {
  width: 50%;
  margin-left: auto;
}

.main__shorten {
  position: relative;
  z-index: 11;
  top: -3%;
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.main__shorten .shorten__action {
  background-color: hsl(257, 27%, 26%);
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.main__shorten .shorten__action .action__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../../images/bg-shorten-desktop.svg");
}
.main__shorten .shorten__action .action__input {
  z-index: 10;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
.main__shorten .shorten__action .action__input::-moz-placeholder {
  color: hsl(257, 7%, 63%);
}
.main__shorten .shorten__action .action__input::placeholder {
  color: hsl(257, 7%, 63%);
}
.main__shorten .shorten__action .action__button {
  z-index: 10;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: hsl(180, 66%, 49%);
  font-weight: 700;
}
.main__shorten .shorten__action .action__button:hover {
  background-color: hsl(180, 66%, 59%);
  cursor: pointer;
}
.main__shorten .shorten__shortened {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: white;
}
.main__shorten .shorten__shortened .shortened__link-unshort {
  color: hsl(260, 8%, 14%);
  font-weight: 500;
}
.main__shorten .shorten__shortened .shortened__result {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.main__shorten .shorten__shortened .shortened__result .result__link-short {
  font-weight: 500;
  color: hsl(180, 66%, 49%);
}
.main__shorten .shorten__shortened .shortened__result .result__copy-button {
  z-index: 10;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: hsl(180, 66%, 49%);
  font-weight: 700;
}
.main__shorten .shorten__shortened .shortened__result .result__copy-button:hover {
  background-color: hsl(180, 66%, 59%);
  cursor: pointer;
}

.main__statics {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 75%);
  z-index: 1;
}
.main__statics .statics-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  margin: 0 auto;
}
.main__statics .statics-container .statics__header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__statics .statics-container .statics__header h2 {
  margin: 0;
}

@media (max-width: 800px) {
  .main__presentation {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .main__presentation .presentation__info {
    max-width: 100%;
    text-align: center;
    order: 2;
  }
  .main__presentation .presentation__info .info__title {
    font-size: 40px;
    margin-top: 1.5rem;
  }
  .main__presentation .presentation__img {
    order: 1;
    margin: 0 auto;
    width: 100%;
  }
  .main__shorten {
    width: 85%;
    row-gap: 1rem;
    top: 0;
  }
  .main__shorten .shorten__action {
    flex-direction: column;
    padding: 1rem;
    row-gap: 1rem;
  }
  .main__shorten .shorten__action .action__input {
    width: 80%;
  }
  .main__shorten .shorten__action .action__button {
    width: 90%;
  }
  .main__shorten .shorten__shortened {
    flex-direction: column;
  }
  .main__shorten .shorten__shortened .shortened__result {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
  }
  .main__shorten .shorten__shortened .shortened__result .result__copy-button {
    width: 100%;
  }
  .main__statics {
    height: 180vh;
  }
  .main__statics .statics-container {
    margin-top: 2rem;
  }
  .main__statics .statics-container .statics__header {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */