body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", serif;
  font-size: 18px;
  overflow-x: hidden;
}

* {
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

header {
  margin: 0 auto;
  padding: 0.8rem 0;
  width: 85%;
  height: 10vh;
  display: flex;
  align-items: center;
}
header .header__links {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
header .header__links li {
  font-size: 16px;
  font-weight: 500;
  color: hsl(257, 7%, 63%);
}
header .header__links li:hover {
  cursor: pointer;
  color: hsl(257, 27%, 26%);
}
header .header__account {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-left: auto;
  margin-right: 3rem;
}
header .header__account .account__login {
  color: hsl(257, 7%, 63%);
  background-color: white;
  border: none;
  font-weight: 700;
}
header .header__account .account__login:hover {
  cursor: pointer;
}
.green-button, header .header__account .account__signup {
  color: white;
  background-color: hsl(180, 66%, 49%);
  font-weight: 700;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: none;
}

.green-button:hover, header .header__account .account__signup:hover {
  color: white;
  background-color: hsl(180, 66%, 59%);
  cursor: pointer;
}

.desktop-mode {
  display: none;
}

.mobile-mode {
  display: block;
}

@media (max-width: 800px) {
  .linha-login {
    width: 90%;
    height: 1px;
    background-color: hsl(257, 7%, 63%);
    margin: 1rem 0;
  }
  header {
    width: 85%;
    flex-wrap: wrap;
    padding: 1.5rem 0;
  }
  header .desktop-mode {
    display: block;
  }
  header .mobile-mode {
    display: none;
  }
  header .header__menu-hamburguer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left: auto;
  }
  header .header__menu-hamburguer div {
    width: 30px;
    height: 3.5px;
    background-color: hsl(257, 7%, 63%);
  }
  header .header__mobile-navigation {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: white;
  }
  header .header__mobile-navigation ul {
    font-family: "Poppins";
    padding: 0;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  header .header__mobile-navigation .mobile-navigation__account {
    display: none;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.8rem;
    margin-bottom: 1.5rem;
  }
  header .header__mobile-navigation .mobile-navigation__account button {
    font-weight: 700;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 17px;
  }
  header .header__mobile-navigation .mobile-navigation__account button:nth-child(1) {
    background-color: hsl(257, 27%, 26%);
  }
  header .header__mobile-navigation .mobile-navigation__account button:nth-child(2) {
    margin-bottom: 1rem;
    background-color: hsl(180, 66%, 49%);
  }
  header .header__mobile-navigation .mobile-navigation__account button:nth-child(1):hover {
    cursor: pointer;
  }
  header .header__mobile-navigation .mobile-navigation__account button:nth-child(2):hover {
    color: white;
    background-color: hsl(180, 66%, 59%);
    cursor: pointer;
  }
  header .header__mobile-navigation {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */